application//vendor/
application/node_modules/
application/npm-debug.log
application/yarn-error.log

application/storage

application/storage/*.key
application/.env
application/Homestead.yaml
application/Homestead.json
application/.vagrant
application/.phpunit.result.cache
.idea

 # docker containers
docker/mysql/db/*